/config/moc/cache
/config/moc/pid
/config/moc/last_directory
/config/zsh/.zcompdump*
/bin/biber
/bin/exercism
/bin/qprot-paired
/bin/qprot-param
/bin/qspec-paired
/bin/qspec-param
/bin/getfdr
/bin/msconvert
/bin/mspicture
/bin/crux
.tags
.vim
