# Some programs do not understand the XDG spec and put things in config when
# they should go in .cache.  Ignore their junk.

/config/moc/cache
/config/moc/pid
/config/moc/last_directory

/config/zsh/.zcompdump*

/config/pulse/*.tdb
/config/pulse/cookie
/config/pulse/*-default-sink
/config/pulse/*-default-source

.tags
.vim
.python-version
/config/git/gitk
