# Some programs do not understand the XDG spec and put things in config when
# they should go in .cache.  Ignore the junk.

.tags
.vim
.python-version

/config/moc/cache
/config/moc/pid
/config/moc/last_directory

/config/zsh/.zcompdump*

/config/pulse/*.tdb
/config/pulse/cookie
/config/pulse/*-default-sink
/config/pulse/*-default-source

/config/git/gitk

/config/gtkrc-2.0-local

/config/ipython/profile_default/history.sqlite
/config/ipython/profile_autoreload/history.sqlite

/config/ncspot/userstate.cbor

/config/mpv/watch_later
